.App {
  text-align: center;
  box-sizing: border-box;
}

.App .page-grid {
  display: flex;
  flex-wrap: wrap;
}

.App .container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: 1px #ddd solid;
}

.App .inner-container {
  width: 300vw;
  height: 300vh;
  transition: transform 1s;
}

.App .page {
  transition: 1s;
  overflow: hidden;
  flex: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  border: 1px #fff solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .page.active {
  opacity: 1;
}

.App .page a {
  text-decoration: none;
  color: #f0f;
}

.linkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  background: #777777;
  padding: 11px;
  color: #fff;
}

.linkbox ul {
  list-style: none;
  padding-left: 0;
}

.linkbox a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.linkbox a:hover {
  color: #bbf;
  text-decoration: none;
}

.linkbox small {
  font-size: 9px;
}