.App {
  text-align: center;
  box-sizing: border-box;
}

.App .page-grid {
  display: flex;
  flex-wrap: wrap;
}

.App .container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: 1px #ddd solid;
}

.App .inner-container {
  width: 300vw;
  height: 300vh;
  transition: transform 1s;
}

.App .page {
  transition: 1s;
  overflow: hidden;
  flex: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  border: 1px #fff solid;
  box-sizing: border-box;
}

.App .page a {
  text-decoration: none;
  color: #f0f;
}

.App .page.active {
  /* height: 100vh; */
  /* padding: 5%; */
  /* border: 5vh #f0f solid; */

  /* -ms-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
  box-sizing: border-box;*/
  border-color: #333;
  border-radius: 100%;
  /* margin: 1rem; */
  /* background-color: #eee; */
  /* opacity: 1; */
}