.App {
  text-align: center;
  /* background: #ff0; */
  box-sizing: border-box;
}

.App .page-grid {
  display: flex;
  flex-wrap: wrap;
}

.App .container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 1px #ddd solid;
}

.App .inner-container {
  width: 100vw;
}

.App .page {
  background: #d00;
  transition: 1s;
  overflow: hidden;
  flex: 0;
}

.App .page.active {
  height: 100vh;
  padding: 5%;
  /* border: 5vh #f0f solid; */
  -ms-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
  box-sizing: border-box;
}